{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'wishes/css/styles.css' %}">
    <title>Happy Birthday Mark</title>
</head>
<body>

<div id="main-wrapper">
    <header>
        <div class="wrapper red cap">
            <h1>Happy Birthday Mark!</h1>
        </div>

        <nav>
            <div class="wrapper">
                <ul>
                    {% if user.is_authenticated %}
                        {% if user.username != 'mark' %}
                            <li><a href="{% url 'wishes:index' %}">Mark's Wishes</a></li>
                        {% else %}
                            <li><a href="{% url 'wishes:index' %}">Your Wishes</a></li>
                        {% endif %}
                        <li><a href="{% url 'users:logout' %}">Log out</a></li>
                    {% else %}
                        <li><a href="{% url 'users:login' %}">Log In</a></li>
                        <li><a href="{% url 'users:register' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>





{% block content %}
{% endblock content %}



</div><!-- end of main-wrapper div -->
</body>
</html>